body {
  font-family: sans-serif;
}


body {
  font-family: sans-serif;
}

h3{
  color: white;
}

p{
  color: white;
}


.flex-container {
    display: flex;
   flex-wrap: nowrap;
   /*background-color: rgb(177, 177, 207);*/
 }

.flex-container >div{
  background-color: rgb(86, 86, 175);
  width: 290px;
  padding: 50px;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px #888888
  color: white;
}

.previous{
  margin-right: 100px;
  margin-left: 100px;
}

.next{
  margin-right: 100px;
  margin-left: 100px;
}

#message-template{

};
